<h1>Books</h1>
<h5>Title</h5>
<h5>Body</h5>
  <p>リーダブルコード</p>
  <p>より良いコードを書くためのシンプルで実践的なテクニック</p>
  
　<p>トラブル知らずのシステム設計</p>
　<p>システム設計の要点を図解で説明してくれます</p>
　    
　<p>たのしいRuby</p>
　<p>Rubyの入門におすすめです</p>
　 
　 <p>入門Git</p>
　 <p>gitについての基本操作から内部構造まで解説してくれます</p>
　  
　 <p>アルゴリズム図鑑</p>
　 <p>アルゴリズムについてカラーイラストでしっかり解説してくれます</p>
　  
　 <p>達人プログラマー</p>
　 <pプログラマ入門者は必読！></p>
　   
　 <p>データベース実践入門</p>
　 <p>効率的なSQL文を教えてくれます</p>

<h3>New book</h3>
<%= form_with model: Book.new do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>
 
  <p>Book</p>
  <%= f.text_area :body %>
 
  <%= f.submit 'Create Book' %>
<% end %>